.table {
    border-spacing: 0;
    text-align: center;
}

.table th,
.table td {  
    border: 1px solid black;
}

.table td{
    width: 30%;
}

.table td:last-child{
    width: 40%;
}

.solutions{
    list-style-type: none;
}

.solutions li{    
    display: inline;
    margin: 10px;
}

.solutions li a{
    margin: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
}