.aboutMe {
  margin-top: 20px;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  display: inline-block;
  margin: 10px;
}

.gallery{
  margin-top: 20px;
}

.gallery img {
  width: 200px;
  height: 140px;
}

.upload-form{
  margin-top: 20px;
}

.guestbook{
  margin-top: 20px;
}

.guestbook__list__item{
  display: block;
}