.container{
  display: flex;
  flex-direction: row;
  height: 350px;
  justify-content: center;
  align-items: flex-start;  
}
.box, .block-box{
  padding: 20px;
  background-color: bisque;
  border: 1px solid black;
}
.block1{
  display: flex;
}
.block-box1{
  flex: 1;
}
.block-box2{
  flex: 1;
}
.block-box3{
  flex: 2;
}