.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;    
  /*align-items: flex-end;
  align-content: flex-start;*/
  max-width: 1200px;
  margin: 20px auto;
  outline: 1px solid #ccc;  
}
.box, .block-box{
  padding: 20px;
  background-color: bisque;
  outline: 1px solid black;
}

.header{
  order: 1;
  flex-basis: 100%;
}
.menu{
  order: 2;
  flex-basis: 100%;
}
.sidebar{
  order: 3;
  flex-basis: 200px;
  flex-grow: 1;
}
.content{
  order: 4;
  flex-basis: 500px;
  flex-grow: 5;
}
.footer{
  order: 5;
  flex-basis: 400px;
  flex-grow: 2;
}
.footer2{
  order: 6;
  flex-basis: 400px;
  flex-grow: 2
}